<% include partials/header %>

   <main>
      <h1><%= heading %></h1>

      <h2>
         <%= article.title %>
      </h2>

      <a href="<%= article.url %>">
         <%= article.url %>
      </a><br>

      By <a href="/user/<%= article.by %>">
         <%= article.by %>
      </a><br>                  
      <%= article.score %> points

      <% if(comments && comments.length > 0) { %>
         <ul>
            <% comments.forEach(comment => { %>
               <li>
                  <%- comment.text %>
                  by <strong><%- comment.by %></strong>
               </li>
            <% }) %>   
         </ul>
      <% } %>

   </main>

<% include partials/footer %>   
