<% include partials/header %>

   <main>

      <% if(articles.length > 0) { %>
         
         <ol class="article-list">
      
         <% articles.forEach( article => { %>
         
            <li>
               <article data-article-id="<%= article.id %>">  
                  <a href="/article/<%= article.id %>">
                     <%= article.title %>
                  </a><br>
                  
                  By <a href="/user/<%= article.by %>">
                     <%= article.by %>
                  </a><br>

                  <a href="<%= article.url %>">
                     <%= article.url %>
                  </a><b4></b4>

                  <%= article.score %> points
               </article>
            </li>   
         
         <% }); %>
         
         </ol>

      <% } %>
   </main>

<% include partials/footer %>   
