<% include partials/header %>

   <main>

      <% if(stories.length > 0) { %>
         
         <ol class="story-list">
      
         <% stories.forEach( story => { %>
         
            <li>
               <story data-story-id="<%= story.id %>">
                  <p>
                     <a href="/story/<%= story.id %>"><%= story.title %></a> 
                     (<a href="" class="source-site"><%= story.source %></a>)
                  </p>
                  <p>
                     <%= story.score %> points 
                     by <a href="/user/<%= story.by %>"><%= story.by %></a>
                     <span>time???</span> | <a href="">hide</a> | <%= story.descendants %> comments
                  </p>

                  
               </story>
            </li>   
         
         <% }); %>
         
         </ol>

      <% } %>
   </main>

<% include partials/footer %>   
